header {
    background-color: lightpink;
    padding: 30px;
    text-align: center;
    border: thick, palegreen;
    font-size: 35px;
    text-align: center;
    color: maroon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subheader {
    text-align: center;
    background-color: olive;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 1;
}
section {
    display: flexbox;
}
.subheader2 {
    text-align: center;
    background-color: burlywood;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 1;
    
}
.clearfix {
    overflow: auto;
}
div ul {
    background-color: paleturquoise;
    text-align: center;
}

footer {
    text-align: left;
    background-color: rosybrown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.skyline {
    float: left;
    border: black;
}
.canal {
    float: right;
    border: black;
}